.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.nav-container {
  text-align: left;
  /* styles keep */
  width: 75%;
  max-width: 1200px;
}

.nav-container a {
  color: rgba(245, 245, 220, 0.787);
  text-decoration: none;
  font-size: 75%;
}

.nav-container a:hover {
  color: rgb(146, 146, 146);
}

.nav-container a:nth-child(1)::after,
.nav-container a:nth-child(2)::after {
  content: " | ";
  color: rgba(245, 245, 220, 0.787);
}

.header-container {
  color: rgba(245, 245, 220, 0.787);
  border-bottom: 3px solid rgb(65, 65, 65);
  /* keep */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.header-container h2 {
  color: rgb(146, 146, 146);
  margin: 1rem auto 2rem;
  width: 75%;
  max-width: 1200px;
}

.footer-container {
  border-top: 3px solid rgb(65, 65, 65);
  color: rgba(245, 245, 220, 0.787);
  font-size: smaller;
  width: 100%;
  max-width: 1200px;
}

.main-container {
  position: relative;
  flex: 1;
  color: rgba(245, 245, 220, 0.787);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.forum-container {
  position: absolute;
  width: 75%;
  height: 100%;
}

.forum-container p {
  color: rgb(146, 146, 146);
  margin: 0;
  padding: .75rem 0;
}

.movie-card {
  color: rgb(182, 182, 182);
  position: relative;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid plum;
  border-left: 1px solid plum;
  background-color: rgba(113, 253, 206, 0.171);
  font-size: 50%;
  margin: .5rem 0;
  padding: 1rem;
  filter: sepia(50%);
}

.movie-card-link {
  text-decoration: none;
}

.movie-card span:nth-child(2) {
  position: absolute;
  left: 45%;
}

.movie-card span:nth-child(3) {
  position: absolute;
  left: 50%;
}

.movie-card span:nth-child(4) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 35%;
}

.movie-card:hover {
  cursor: pointer;
  filter: sepia(25%);
}
